body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
.hr {
  background-color: #c2cecd;
  color: #c2cecd;
  margin-top: 0;
  margin-bottom: 0;
}
h2{
  color: #FFFFFF;
  background-color: #000000;
  font-style:  italic;

}
h4 {
  color: #13d63d;
  font-style:italic;
}
#wraper{
  display:run-in;
  max-width: auto;
  max-height: 225px;
  margin-top: 0;
  margin-bottom: 0;
}
#Guns{
  display:inline-block;
  width: 180px;
  height: 200px;
  padding-top: 20px;
}
#Hoppers{
  display:inline-block;
  width: 180px;
  height: 200px;
  padding-top: 20px;
}
#Goggles{
  display:inline-block;
  width: 180px;
  height: 200px;
  padding-top: 20px;
}
#Tanks{
  display:inline-block;
  width: 180px;
  height: 200px;
  padding-top: 20px;
}
#korg {
  float: center;
  align-content: center;
  margin-top: 10px;
  border-collapse: collapse;
  border: 12px soild black;
  background-color: green;
  outline-color: green;
  outline-width: small;
  width: 65%;
  height: auto;
  padding-top: 20px;
  width: auto;

}
#upperCase{
  width: 420px;
  height: 230px;

}
#lowerCase{
  margin-top: -25px;
  width: 420px;
  height: 230px;
}


img {
  max-height: 200px;
  height: 70%;
  max-width: 180px;
  width: 70%;
}
.hoveredOnImg{

}
